.search input[type=text] {
  background-color: rgba(255, 255, 255, 0.731);
  color: rgb(0, 0, 0);
  font-size: 16px;
  width: 300px;
  height: 35px;
  border-radius: 8px 0px 0px 8px;
  border: none;
  line-height: 80px;
}

.search {
  padding: 22px;
}

::placeholder {
  text-align: center;
  font-size: 16px;
}

.search input[type=text]:hover {
  border:solid #520044;
}

.search button {
  background-color: rgba(255, 255, 255, 0.731);
  color: rgb(228, 228, 228);
  float: right;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 0px 8px 8px 0px;
  height: 35px;
}

.search button:hover {
  border:solid #520044;
}

@media (max-width: 998px) {

  .search input[type=text] {
    font-size: 16px;
    width: 250px;
    height: 35px;
    border-radius: 8px 0px 0px 8px;
    border: none;
    line-height: 80px;
  }

  .search {
    padding: 12.5px;
  }
}

@media (max-width: 573px) {

  .search input[type=text] {
    font-size: 16px;
    width: 175px;
    height: 25px;
    border-radius: 8px 0px 0px 8px;
    border: none;
    line-height: 80px;
  }

  .search {
    padding: 17px;
  }

  .search button {
    float: right;
    border: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 0px 8px 8px 0px;
    height: 25px;
  }
}

@media (max-width: 435px) {

  .search input[type=text] {
    font-size: 16px;
    width: 175px;
    height: 25px;
    border-radius: 8px 0px 0px 8px;
    border: none;
    line-height: 80px;
  }

  .search {
    padding: 5px;
    order: 1;
    margin-top: -25px;
  }

  .search button {
    float: right;
    border: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 0px 8px 8px 0px;
    height: 25px;
  }
}