.main {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 598px 70px 1fr 90px;
  grid-template-areas:
      'banner banner'
      'filters pagination'
      'filters games'
      'footer footer';
}